body {
    display: flex;
    background-image: url('../images/bg/bg-img.jpg');
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.project-imgs {
    border-radius: 20px;
    height: 270px;
    padding: 10px;
}

.text-style {
    color: #558BFF;
    background-color: #004b7c;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Black Ops One';
}

a {
    color: #558BFF;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.grid-items {
    border: 5px solid #1A00FF;
    border-radius: 20px;
    background-color: #2b2b2b;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}

.container {
    background-color: #000000b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #008cff;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
}

footer {
    margin: 50px 0px 0px 0px;
    padding: 10px;
    border-radius: 20px;
    background-color: #004b7c;
    color: #558BFF;
    font-family: 'Rock Salt';
}

.link {
    font-family: 'Black Ops One';
}

@media (max-width: 800px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
}

@media (max-width: 600px) {

    .project-imgs {
        width: 170px;
    }    

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }
    
    h4 {
        font-size: 15px;
    }
}
